
<head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        {%load static%}
        <link  rel="stylesheet" type="text/css" href="{% static 'css/panel.css'%}">
        <script src="{% static 'js/panel.js'%}"></script>
        </head>
        <!------ Include the above in your HEAD tag ---------->
        <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
                    MENU
                    </button>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        Administrator
                    </a>
                </div>
        
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
                    <form class="navbar-form navbar-left" method="GET" role="search">
                        <div class="form-group">
                            <input type="text" name="q" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" target="_blank">Visit Statfive</a></li>
                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                Account
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-header">SETTINGS</li>
                                    <li class=""><a href="#">Other Link</a></li>
                                    <li class=""><a href="#">Other Link</a></li>
                                    <li class=""><a href="#">Other Link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>  	<div class="container-fluid main-container">
                  <div class="col-md-2 sidebar">
                      <div class="row">
            <!-- uncomment code for absolute positioning tweek see top comment in css -->
            <div class="absolute-wrapper"> </div>
            <!-- Menu -->
            <div class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-facetime-video"></span> Upload Video</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Register Team</a></li>
        
                            <!-- Dropdown-->
                            <li class="panel panel-default" id="dropdown">
        
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-lvl1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
        
                                            <!-- Dropdown level 2 -->
                                            <li class="panel panel-default" id="dropdown">
                                                <a data-toggle="collapse" href="#dropdown-lvl2">
                                                    <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
                                                </a>
                                                <div id="dropdown-lvl2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul class="nav navbar-nav">
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                            <li><a href="#">Link</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
        
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
        
            </div>
        </div>  		</div>
            <div class="col-md-10 content">
            <div class="panel panel-default">
                <article class="jumbotron">
                        <h2 style="text-align: center;">Uploader</h2>
                        <p>Vous pouvez upload vos match pour lancer l'analyse.</p>
                        <p>Chaque vidéo est indépendante et correspond à un match et sera enregistré comme un match.</p>
                        <p>C'est pour cela que nous vous conseillons de pas mettre que des morceaux de match.</p>
                </article>
                <form enctype="multipart/form-data" method="POST" action="/panel/upload">{% csrf_token %}
                    <div class=" form-group">
                        
                        <label for="exampleFormControlInput1">Nom Equipe bleu</label>
                        <input name="teamA" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Les guerriers">
                        <label for="exampleFormControlInput1">Nom equipe rouge</label>
                        <input name="teamB" type="text" class="form-control" id="exampleFormControlInput1" placeholder="FC Kebab">
                        
                    </div>
                    <div class="form-group">
                        <label>Rentre ton match</label>
                        <input type="file" name="video">  
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                {%if response%}
                <p>{{response}}</p>
            {% endif %}
                  </div>
            </div>
                  </div>
                  <footer class="pull-left footer">
                      <p class="col-md-12">
                          <hr class="divider">
                        
                      </p>
                  </footer>
              </div>
            </body>