stages:
  - test
  - setup
  - build
  - publish
  - deploy


.ssh-connect-preprod:
  image: debian:11
  variables:
    COMMAND: "echo 'You need to implement COMMAND Variable'"
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - touch ~/.ssh/known_hosts
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
  script:
    - ssh "$PREPROD_GITUSER"@"$PREPROD_SERVER_IP" "cd $PATH_GPE_DIR; $COMMAND"


unit-test-api:
  image: python:3.9
  stage: test
  before_script:
    - cd api/
    - python -V
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - echo "Running unit test"
    - python route.py
  only:
    refs:
      - staging

lint-api:
  image: python:3.9
  stage: test
  before_script:
    - cd api/
    - python -V
    - pip install --upgrade pip
    - pip install -r requirements.txt
    - pip install pytest
  script:
    - echo "Running lint"
    - pytest app.py src/*.py
  only:
    refs:
      - staging

pull-api-git:
  stage: setup
  extends: .ssh-connect-preprod
  variables:
    COMMAND: "cd api/ && sudo git pull origin staging"
  needs: [unit-test-api, lint-api]
  only:
    refs:
      - staging


build-api:
  stage: build
  extends: .ssh-connect-preprod
  variables:
    COMMAND: "sudo docker-compose build api"
  needs: [pull-api-git]
  only:
    refs:
      - staging


publish-api:
  stage: publish
  extends: .ssh-connect-preprod
  variables:
    COMMAND: "sudo docker push acalhabi/statfive_api"
  only:
    refs:
      - master


deploy-preprod-api:
  stage: deploy
  extends: .ssh-connect-preprod
  variables:
    COMMAND: "sudo docker-compose up -d"
  needs: [build-api]
  only:
    refs:
      - staging

deploy-prod-api:
  stage: deploy
  extends: .ssh-connect-preprod
  variables:
    COMMAND: "kubectl rollout restart deployment api -n statfive"
  needs: [publish-api]
  only:
    refs:
      - master
